# fireblocks nodes
[fb_servers]
10.0.0.40

[nitro_servers]
10.0.0.30

# relayer nodes
[relayer_bootnode_servers]
10.0.0.20

[relayer_voter_servers]
10.0.0.21
10.0.0.22

# goat nodes
[goat_bootnode_servers]
10.0.0.10

[goat_validator_servers]
10.0.0.11
10.0.0.12
10.0.0.13

# btc nodes
[btc_servers]
10.0.0.1

[all:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=/path/to/your/key.pem