[fb_servers]
10.0.0.40

[nitro_servers]
10.0.0.30

[relayer_servers]
10.0.0.20
10.0.0.21
10.0.0.22

[rpc_servers]
10.0.0.11
10.0.0.12
10.0.0.13

[bootnode_servers]
10.0.0.10

[all:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=/path/to/your/key.pem